<!DOCTYPE html>
<html lang="en" data-ng-app="rssly">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="styles/reset.css"/>
    <link rel="stylesheet" href="styles/app.css"/>
  </head>
  <body>
    <div class="page">
      <section class="channelList" ng-controller="ctrlFeeds">
        <ol>
          <li ng-repeat="item in list track by $index"
              ng-click="expendItem($index)"
              ng-class="{error:fail}"
            >
            <check-channel url="item.url"></check-channel>
            <div ng-switch="item.fail">
              <div ng-switch-when="true">
                Unable to fetch articles
              </div>
              <div ng-switch-default>
                {{item.title}}
              </div>
            </div>
            <div ng-show="expend">here</div>
          </li>
        </ol>
        <footer>
          <button>refresh</button>

          <div class="relative">
            <button name="addChannel" ng-click="toggle()">add</button>
            <form ng-hide="!open" ng-submit="addItem()"
                  style="width: 11rem;" required>

              <input focus-me="open" placeholder="RSS Source"
                     ng-model="newItem"/>
              <button type="submit">OK</button>

            </form>
          </div>
        </footer>
      </section>
      <section class="entryList" ng-controller="ctrlArticles"></section>
      <section class="preview">Hello {{'World'}}!</section>
    </div>


    <template id="channel">

      <hgroup>
        <h1>title</h1>
        <h2>description</h2>
      </hgroup>

    </template>

    <template id="entry">
      <a class="link" href="#" target="_blank">
        <h1>title</h1>
      </a>
      <span class="author"></span>
      <time>publishDate</time>
      <article></article>
      <aside></aside>
    </template>

    <script src="vendors/angular.min.js"></script>
    <script src=main.js></script>

  </body>
</html>
