<!DOCTYPE html>
<html lang="en" data-ng-app="rssly">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="styles/reset.css"/>
        <link rel="stylesheet" href="styles/layout.css"/>
        <link rel="stylesheet" href="styles/feed.css"/>
        <link rel="stylesheet" href="styles/article.css"/>
        <link rel="stylesheet" href="styles/input.css"/>
        <link rel="stylesheet" href="styles/extendedInput.css"/>
        <link rel="stylesheet" href="styles/button.css"/>
        <link rel="stylesheet" href="styles/app.css"/>
    </head>
    <body>

        <ff-drag-out></ff-drag-out>
        <div class="page">
            <section class="channelList" ng-controller="ctrlFeeds">
                <h1 class="upper">
                    Rssly
                </h1>
                <ol>

                    <li ng-repeat="item in list track by $index">
                        <my-feed source="item" ng-click="openFeed($index)"></my-feed>
                    </li>
                </ol>
                <footer>
                    <div class="add">
                        <div class="extendedInput">
                            <input type="text" placeholder="http://"
                                ng-model="newFeed"
                                ng-blur="onBlur()"
                                ff-focusable="focusAdd"
                                />
                            <button data-ng-click="addFeed()">Add</button>
                        </div>
                    </div>
                    <div class="poptip" ng-show="showPoptip">
                        <p>{{error}}</p>
                    </div>
                </footer>
            </section>
            <section class="articleList" ng-controller="ctrlArticles">
                <div class="loading" ng-show="status == 'loading'">
                    @@include('assets/svg/loading-cylon.svg')
                </div>
                <ol>
                    <li ng-repeat="article in articles track by $index">
                        <ff-article-summary ng-click="openArticle($index)"></ff-article-summary>
                    </li>
                </ol>
            </section>
            <section class="preview" ng-controller="ctrlPreview">
                <article ff-article-preview content="content" class="github"></article>
            </section>
        </div>


        <template id="channel">

            <hgroup>
                <h1>title</h1>
                <h2>description</h2>
            </hgroup>

        </template>

        <template id="entry">
            <a class="link" href="#" target="_blank">
                <h1>title</h1>
            </a>
            <span class="author"></span>
            <time>publishDate</time>
            <article></article>
            <aside></aside>
        </template>

        <script src=main.js></script>


    </body>
</html>
