@import "_variables";
body {
    -webkit-app-region: drag;
}

.relative { position: relative; }
.loading { background: yellow; }
.error { background: red; }
.upper { text-transform: uppercase; }

.page {
    > section { position: relative;
        &:not(:last-child) {
            border-right: 1px solid @border-color;
        }
    }
}

.channelList {
    > h1 { text-align: center; font-size: @largest-font-size;
        line-height: 100px;
        border-bottom: 1px solid @border-color;
    }
    > ol { flex: 1; overflow-y: auto; }
    > footer { height: 4em; padding-left: 1em; border-top: 1px solid @border-color; }
}
.entryList { }
.preview { }



