// Feed
//
// Feed item styles
//
// Markup:
// <section class="feed {$modifiers}"><i><img src="http://www.36kr.com/favicon.ico"></i><h1>Title</h1></section>
//
// :hover           - Mouse over status.
// .active          - Indicate that the feed is selected.
// .mute            - Indicate that the feed is not up to date or something else.
// .highlight       - Indicate that the feed contains unread articles.
//
// Styleguide 1

.feed { font-size: 20px; color: #777777;
    > i { display: inline-block; width: 32px; height: 32px; vertical-align: middle;
        text-align: center; line-height: 32px;
        border-radius: 16px; border: 1px solid hsla(0, 0%, 0%, 0.24);
        position: relative; overflow: hidden;
        margin-left: 20px; margin-right: 15px;
        img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
            width: 16px; height: 16px;
        }
    }
    > h1 { font-size: inherit; font-weight: normal; color: inherit; font-family: inherit;
        display: inline-block; vertical-align: middle; margin: 18px 0; }
    &.active, &:hover { background: #FAFAFA; }
    &.mute { color: #bbb; }
    &.highlight { color: #111; }

}

